/Bisection_method/nbproject/private/
/Bisection_method/build/
/Bisection_method/dist/
/FalsePositionMethod/nbproject/private/
/FalsePositionMethod/build/
/FalsePositionMethod/dist/
/Newton-RaphsonTest/nbproject/private/
/Newton-RaphsonTest/build/
/Newton-RaphsonTest/dist/
/HornersMethod/nbproject/private/
/HornersMethod/dist/
/HornersMethod/build/
/SecantMethod/nbproject/private/
/SecantMethod/build/
/SecantMethod/dist/
/Synthetic_Division/nbproject/private/
/Synthetic_Division/build/
/Synthetic_Division/dist/
/NewtonsMethodTest/nbproject/private/
/NewtonsMethodTest/build/
/NewtonsMethodTest/dist/
/ModifiedBisectionTest/nbproject/private/
/ModifiedBisectionTest/build/
/ModifiedBisectionTest/dist/