/Bisection_method/nbproject/private/
/Bisection_method/build/
/Bisection_method/dist/
/FalsePositionMethod/nbproject/private/
/FalsePositionMethod/build/
/FalsePositionMethod/dist/
/Newton-RaphsonTest/nbproject/private/
/Newton-RaphsonTest/build/
/Newton-RaphsonTest/dist/
/HornersMethod/nbproject/private/
/HornersMethod/dist/
/HornersMethod/build/